#nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: transparent;
}

.logo {
  width: 250px;
  padding-left: 10px;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

#menu {
  display: flex;
  align-items:  center;
  justify-content: center;
  padding-right: 10px;
}

#menu li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  
}

#menu li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  transition: 0.2s ease-in-out;
}

#menu li a:hover{
  color: #5ace0f;
}

#menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #5ace0f;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbg{
  border-radius: 12px;
  background: #ffffff;
  box-shadow:  5px 5px 12px #4f4f4f,
             -5px -5px 12px #646464;
  width: 95%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  margin-top: 58px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}

#mobile i{
  color: black;
}

#mobile {
  display: none;
}

@media screen and (max-width:800px) {
  #menu {
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: 0px;
    width: 200px;
    height: 200px;
    background: #ffffff;
    box-shadow:  2px 2px 5px #4f4f4f,
                 -2px -2px 5px #646464;
    padding: 40px 0 0 10px;
    margin-right: 18px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    opacity: 0;
  }

  #menu.active {
    opacity: 1;
  }

  #menu li{
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #movile i{
    font-size: 24px;
    cursor: pointer;
  }
}